.videobackground__wrapper{
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,1);
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -100;
}
	.videobackground__video{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
  		min-width: 100%; 
  		min-height: 100%;
 		z-index: -110;
	}

.videobackground__overlay{
	width: 100%;
	height: 100vh;
	left: 0;
	background-color: rgba(0,0,0,.6);
	border: 20px solid #fff;
	overflow: hidden;
	position: absolute;
	transition: 1000ms all;
}


/* Other Content */

.content {
	position: absolute;
	left: -50%;
	width: 50%;
	height: 100%;
	padding: 20px;
	padding-right: 0;
	background-color: #fff;
	transition: 1000ms all;
}

.main--split .content{
	left: 0;
}

.main--split .videobackground__overlay{
	left: 50%;
	width: 50%;
}

.main--split .upcomingevent__wrapper{
	background-color: #000;
	color: #fff;
}

.section{
	width: 100%;
	height: calc(100% - 250px);
	padding: 10px;
	overflow-y: scroll;
}

.hidden {
	display: none;
}