*{box-sizing: border-box; font-family: 'Poppins', sans-serif;}

/* Home Logo */
.logo{

}
	.logo__wrapper{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: #fff;
	}
		.logo__text{
			font-family: 'Josefin Sans', serif;
			text-transform: uppercase;
		}
		.logo__text--split{
			font-family: 'Josefin Sans', serif;
			text-transform: uppercase;
		}
		.logo__text:last-child{
			margin-bottom: 0;
		}